[[plugins]]
repo = 'Shougo/dein.vim'

# Asynchronous processing to eliminate that vim stopped by performing
# time-consuming process
[[plugins]]
repo = 'Shougo/vimproc.vim'
hook_post_update = 'source ~/dotfiles/.vim/rc/plugins/vimproc.rc.vim'

[[plugins]]
repo = 'cespare/vim-toml'
on_ft = 'toml'

[[plugins]]
repo = 'Shougo/neosnippet-snippets'
hook_add = 'source ~/dotfiles/.vim/rc/plugins/neosnippet-snippets.rc.vim'

[[plugins]]
repo = 'Shougo/deoplete.nvim'
hook_source = 'source ~/dotfiles/.vim/rc/plugins/deoplete.rc.vim'
on_i = 1

[[plugins]]
repo = 'Shougo/neosnippet.vim'
hook_source = 'source ~/dotfiles/.vim/rc/plugins/neosnippet.rc.vim'
on_i = 1
on_ft = 'snippet'
depends = 'neosnippet-snippets'

[[plugins]]
repo = 'Shougo/vimshell.vim'
hook_add = 'let g:vimshell = "nvim"'

[[plugins]]
repo = 'thinca/vim-quickrun'
hook_add = 'source ~/dotfiles/.vim/rc/plugins/vim-quickrun.rc.vim'

[[plugins]]
repo = 'tbodt/deoplete-tabnine'
build = './install.sh'

[[plugins]]
repo = 'autozimu/LanguageClient-neovim'
branch = 'next'
build = 'install.sh'
hook_add = "let g:LanguageClient_server_Commands = {'ruby': ['~/.rbenv/shims/solargraph', 'stdio']}"

[[plugins]]
repo = 'osyo-manga/shabadou.vim'

# === Check syntax ===
[[plugins]]
repo = 'vim-syntastic/syntastic'
hook_add = 'source ~/dotfiles/.vim/rc/plugins/syntastic.rc.vim'

[[plugins]]
repo = 'pmsorhaindo/syntastic-local-eslint.vim'
hook_add = 'source ~/dotfiles/.vim/rc/plugins/syntastic-local-eslint.vim.rc.vim'

# === Easy to mark up ===
[[plugins]]
repo = 'mattn/emmet-vim'
hook_add = 'source ~/dotfiles/.vim/rc/plugins/emmet-vim.vim.rc.vim'

[[plugins]]
repo = 'tpope/vim-surround'

[[plugins]]
repo = 'tpope/vim-endwise'

[[plugins]]
repo = 'Townk/vim-autoclose'
hook_add = 'source ~/dotfiles/.vim/rc/plugins/vim-autoclose.rc.vim'

# === Easy to search files from dir or buffer ===
[[plugins]]
repo =  'ctrlpvim/ctrlp.vim'

[[plugins]]
repo =  'Shougo/unite.vim'
hook_add = 'source ~/dotfiles/.vim/rc/plugins/unite.vim.rc.vim'

[[plugins]]
repo =  'rking/ag.vim'

# === Easy to comment out codes ===
[[plugins]]
repo = 'tomtom/tcomment_vim'

# === Triming unnecessary whitespaces at the end of the line ===
[[plugins]]
repo = 'bronson/vim-trailing-whitespace'
hook_add = 'source ~/dotfiles/.vim/rc/plugins/vim-trailing-whitespace.rc.vim'

# === Show tree of directory ===
[[plugins]]
repo = 'scrooloose/nerdtree'
hook_add = 'source ~/dotfiles/.vim/rc/plugins/nerdtree.rc.vim'

# === Show dictionary in vim ===
[[plugins]]
repo =  'thinca/vim-ref'

# === Color schemes ===
[[plugins]]
repo =  'altercation/vim-colors-solarized'

[[plugins]]
repo =  'abra/vim-obsidian'

[[plugins]]
repo =  'flazz/vim-colorschemes'

[[plugins]]
repo =  'w0ng/vim-hybrid'
hook_add = 'source ~/dotfiles/.vim/rc/plugins/vim-hybrid.rc.vim'

# === Coloring color code ===
[[plugins]]
repo = 'gorodinskiy/vim-coloresque'

# === Show status line in vim ===
[[plugins]]
repo = 'itchyny/lightline.vim'
hook_add = 'set laststatus=2'

# === auto paste mode in vim ===
[[plugins]]
repo = 'ConradIrwin/vim-bracketed-paste'

# === use user defined operator
[[plugins]]
repo = 'kana/vim-operator-user'

# === clang support
[[plugins]]
repo = 'rhysd/vim-clang-format'
hook_add = 'source ~/dotfiles/.vim/rc/plugins/vim-clang-format.rc.vim'

# === かっこ操作
[[plugins]]
repo = 'rhysd/vim-operator-surround'
hook_add = 'source ~/dotfiles/.vim/rc/plugins/vim-operator-surround.rc.vim'

# === かっこjump
[[plugins]]
repo = 'andymass/vim-matchup'
hook_add = 'let g:loaded_matchit = 1'

[[plugins]]
repo = 'cohama/lexima.vim'
hook_add = 'let g:lexima_enable_basic_rules = 1'

[[plugins]]
repo = 'roxma/vim-hug-neovim-rpc'

[[plugins]]
repo = 'vim-syntastic/syntastic'
hook_add = 'source ~/dotfiles/.vim/rc/plugins/vim-syntastic.rc.vim'

[[plugins]]
repo = 'scrooloose/nerdcommenter'
hook_add = 'source ~/dotfiles/.vim/rc/plugins/nerdcommenter.rc.vim'

[[plugins]]
repo = 'junegunn/vim-easy-align'
hook_add = 'source ~/dotfiles/.vim/rc/plugins/vim-easy-align.rc.vim'

# Language Server Protocol
[[plugins]]
repo = 'prabirshrestha/async.vim'

[[plugins]]
repo = 'prabirshrestha/vim-lsp'
hook_add = 'source ~/dotfiles/.vim/rc/plugins/vim-lsp.rc.vim'

[[plugins]]
repo = 'prabirshrestha/asyncomplete.vim'
hook_add = 'source ~/dotfiles/.vim/rc/plugins/asyncomplete.rc.vim'

[[plugins]]
repo = 'prabirshrestha/asyncomplete-lsp.vim'

