[user]
  email = ash.sit.you7@ezweb.ne.jp
  name = Atsuyoshi-N
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[alias]
  n  = now --all --stat
  pr = pull-request
  see = browse
  delete-merged-branches = "!f () { git branch --merged | egrep -v '\\*|master|develop' | xargs git branch -d; }; f"
[core]
  excludesfile = /Users/atsuyoshi/.gitignore_global
  ignorecase = false
[ghq]
  root = /Users/atsuyoshi/repositories
