[user]
  email = ash.sit.you7@ezweb.ne.jp
  name = Atsuyoshi-N
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[alias]
  s = status
  sw = switch
  sc = switch -c
  b = branch
  n  = now --all --stat
  pr = pull-request
  see = browse
  current-branch = symbolic-ref --short HEAD
  diff-master = !git diff master..$(git current-branch)
  diff-develop = !git diff develop..$(git current-branch)
  delete-merged-branches = "!f () { git branch --merged | egrep -v '\\*|master|develop' | xargs git branch -d; }; f"
[core]
  excludesfile = $HOME/.gitignore_global
  ignorecase = false
  editor = nvim
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
[push]
  default = current
[pull]
  default = current
  rebase = true
  prune = true
[diff]
  renames = true
  tool = nvimdiff
[merge]
  log = true
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""
[mergetool "nvimdiff"]
  keepBackup = false
  cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\""
  trustExitCode = true
[rebase]
  autostash = true
[fetch]
  prune = true
[ghq]
  root = $HOME/repositories
