name: macos

on:
  push:
    paths:
    - etc/init/Brewfile
  pull_request:
    paths:
    - etc/init/Brewfile

jobs:
  macos-init-test:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2

    - name: Run etc/init/install
      run: bash -c "$(curl -fsSL https://raw.githubusercontent.com/Atsuyoshi-N/dotfiles/master/etc/install)" -s init
