name: macos

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  macos-init-test:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2

    - name: Run etc/init/install
      run: bash -c ${GITHUB_WORKSPACE/etc/init/install} -s init
