name: macos

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  macos-dotfile-install-and-deploy-test:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2

    - name: Run etc/init/install
      run: bash -c "$(curl -fsSL https://raw.githubusercontent.com/Atsuyoshi-N/dotfiles/master/etc/install)"

    - name: Test if symlink files on HOME directory
      run: ruby etc/test/deploy.rb

